!!! 5
%html
  %head
    %meta( name="keywords" content="nkoehring, Norman Köhring, c, cplusplus, ruby, python, openframeworks, security, rails, Ruby on Rails, programming, testing, development, Leipzig, Germany" )
    %meta( name="description" content="nkoehring" )
    %meta( http-equiv="Content-type" content="text/html; charset=utf-8" )
    %title nkoehring
    %script( src="http://code.jquery.com/jquery-1.5.2.min.js" )
    =javascripts :app, :qstring => '0.1.0'
    =stylesheets

    /[if lt IE 9]
      %script( src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" )
      %script( src="http://html5shim.googlecode.com/svn/trunk/html5.js" )

  %body
    #background

    %header
      -#%hgroup#social
        %a( href="http://github.com/nkoehring" target="_blank" )
          %img( src="/images/social/github.png" alt="github" width=32 )
        %a( href="http://twitter.com/nkoehring" target="_blank" )
          %img( src="/images/social/twitter.png" alt="twitter" width=32 )
        %a( href="http://facebook.com/nkoehring" target="_blank" )
          %img( src="/images/social/facebook.png" alt="facebook" width=32 )
        %a( href="http://identi.ca/nkoehring" target="_blank" )
          %img( src="/images/social/identica.png" alt="identi.ca" width=32 )
        %a( href="mailto:gewerbe[at]nkoehring.de" )
          %img( src="/images/social/contact.png" alt="contact" width=32 )

      %nav
        =partial 'menu.haml'

    #content
      .wrapper
        =yield

    %footer
      Copyright © 2011 Norman Köhring
      %span.right.nonintervening gewerbe[at]nkoehring.de
