%article#introduction
  %section
    :textile
      h1. *"Norman Köhring":/kontakt*
        Web- und Software-Entwickler aus Leipzig

      Meine Speziealität ist es, das richtige Werkzeug zu finden und anzuwenden, um Ihre Anforderungen im Bereich der Software-/ Webentwicklung zu meistern. "Mehr Erfahren!":/ueber-mich.html
