%article#introduction
  %section
    :textile
      h1. *"Norman Köhring":/kontakt*
        Web- und Software-Entwickler aus Leipzig

      <big>Programmierung</big> verstehe ich als <big>Kunst</big>. _Die Kunst der kreativen Problemlösung._

      Meine Spezialität ist es, das richtige Werkzeug zu finden und anzuwenden. Das richtige Werkzeug um Ihre Anforderungen im Bereich der Software-/ Webentwicklung zu meistern. <big>"Mehr Erfahren!":/ueber-mich</big>
