%article#introduction
  %section
    :textile
      h1. *"Norman Köhring":/kontakt*
        Web- und Software-Entwickler aus Leipzig

      <strong>Programmierung</strong> verstehe ich als <strong>Kunst</strong>. _Die Kunst der kreativen Problemlösung._

      Meine Spezialität ist es, das richtige Werkzeug zu finden und anzuwenden. Das richtige Werkzeug um Ihre Anforderungen im Bereich der Software-/ Webentwicklung zu meistern. <strong>"Mehr Erfahren!":/ueber-mich</strong>
