%h1 Referenzen

%ul.projects
  %li#wecuddle
    %ul.images
      %li( style="background-image:url(/img/prj_wecuddle_01.png)" )
        %nav
          .prev ←
          .next →
      %li( style="background-image:url(/img/prj_wecuddle_02.png)" )
        %nav
          .prev ←
          .next →

    .description
      %h2
        Wecuddle
        %em.date aktuelles Projekt
      %p
        Derzeit arbeite ich für die Lailos&nbsp;Group&nbsp;GmbH als einer von zwei Entwicklern an der
        Flirtplatform „Wecuddle“. Tätig bin ich dabei im technischen Bereich, ebenso wie in der View.

  %li#jobmixer
    %ul.images
      %li( style="background-image:url(/img/prj_jobmixer_01.png)" )

    .description
      %h2
        Jobmixer
        %em.date 2009
      %p
        In meiner Praktikantenzeit bei der Firma InAudito arbeitete ich vorallem an technischen
        Aspekten der Jobbörse.

