%h1
  Referenzen
  %em eine Auswahl

%ul.projects
  %li#wecuddle
    %ul.images
      %li.bordered( style="background-image:url(/img/prj_wecuddle_01.png)" )
      %li.bordered( style="background-image:url(/img/prj_wecuddle_02.png)" )

    .description
      %h2
        Wecuddle
        %em.date aktuelles Projekt

      %p
        %h5 Werkzeuge
        Ruby On Rails, Ruby, JavaScript, PostgreSQL

      %p
        %h5 näheres
        Derzeit arbeite ich für die Lailos&nbsp;Group&nbsp;GmbH als einer von zwei Entwicklern an der
        Flirtplatform „Wecuddle“. In meiner Tätigkeit bewege ich mich durch alle Aspekte eines Web-Projektes dieser Größe: Datenbank-, Controller- und Anzeigeschicht.

  %li#personal
    %ul.images
      %li( style="background-image:url(/img/prj_personal_01.png)" )
      %li.bordered( style="background-image:url(/img/prj_personal_02.png)" )
      %li.bordered( style="background-image:url(/img/prj_personal_03.png)" )

    .description
      %h2
        Homepage
        %em.date 2009, 2010, 2011

      %p
        %h5 Werkzeuge
        Staticmatic, Ruby, JavaScript

      %p
        %h5 näheres
        Meine persönlichen Projekte präsentieren der Öffentlichkeit vorallem eines: Experimentier- freudigkeit und meinen Spaß an modernsten Webtechnologien. So verwende ich zB &lt;canvas&gt;-Elemente für den Hintergrund-Effekt auf
        %a( href="http://blog2.nkoehring.de" ) meinem Blog
        und modernste CSS3-Effekte <em>(bspw. Transitions, Text- und Box-Schatten)</em>.

  %li#jobmixer
    %ul.images
      %li.bordered( style="background-image:url(/img/prj_jobmixer_01.png)" )

    .description
      %h2
        Jobmixer
        %em.date 2009

      %p
        %h5 Werkzeuge
        Symfony, PHP, MySQL

      %p
        %h5 näheres
        In meiner Praktikantenzeit bei der Firma InAudito arbeitete ich vorallem an technischen
        Aspekten der Jobbörse.

