$background-colour: #DDD
//$content-background-colour: rgba(0,74,140,0.6)
$content-background-colour: #4886B3
$foreground-colour: #EEE
$menu-anchor-colour: #038
$anchor-colour: #CCE
$active-anchor-colour: #BBF
$content-width: 960px
$header-height: 150px
$background-image: url(/img/ghostintheshell_bg.png)
$content-background-image: url(/img/ghostintheshell_bg2_.png)

=transition($property, $time)
  -webkit-transition: $property $time cubic-bezier(0.165, 0.840, 0.440, 1.000)
  -moz-transition: $property $time cubic-bezier(0.165, 0.840, 0.440, 1.000)
  -o-transition: $property $time cubic-bezier(0.165, 0.840, 0.440, 1.000)
  transition: $property $time cubic-bezier(0.165, 0.840, 0.440, 1.000)

=transition_dual_properties($p1, $p2)
  -webkit-transition-property: $p1, $p2
  -moz-transition-property: $p1, $p2
  -o-transition-property: $p1, $p2
  transition-property: $p1, $p2

=transition_dual_durations($d1, $d2)
  -webkit-transition-duration: $d1, $d2
  -moz-transition-duration: $d1, $d2
  -o-transition-duration: $d1, $d2
  transition-duration: $d1, $d2

=transition_dual_delays($d1, $d2)
  -webkit-transition-delay: $d1, $d2
  -moz-transition-delay: $d1, $d2
  -o-transition-delay: $d1, $d2
  transition-delay: $d1, $d2

=easeOutQuart()
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000)
  -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000)
  -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000)
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000)

@font-face
  font-family: "LinuxBiolinum"
  src: url('/fnt/biolinum-webfont.eot')
  src: local("☺"), url('/fnt/biolinum-webfont.woff') format("woff"), url('/fnt/biolinum-webfont.ttf') format("truetype")
  src: url('/fnt/biolinum-webfont.ttf') format("truetype")
  font-style: normal

body
  font: 16px "LinuxBiolinum",Verdana,Arial,sans-serif
  color: $foreground-colour
  text-shadow: 0 0 5px black
  background: $background-colour
  width: $content-width
  margin: auto

a
  color: $anchor-colour
  text-decoration: none
  &:hover
    color: $active-anchor-colour
    text-decoration: underline
    text-shadow: 0 0 2px #AAA

h1
  font-size: 1.8em
  line-height: 1.5em
  text-shadow: 0 0 2px #333
  em
    font-size: 16px
    font-weight: 400
    font-style: italic
  strong
    font-size: 1.2em

h5
  margin-bottom: 0

ul, li
  list-style: none
  margin: 0
  padding: 0

#background
  position: fixed
  top: 0
  left: inherit
  width: 407px
  height: 383px
  margin-left: -194px
  background: $background-colour $background-image center no-repeat
  z-index: -10
 
//#background2
  position: fixed
  top: 0
  left: inherit
  width: 203px
  height: 383px
  background: $background-colour $content-background-image -250px 0 no-repeat
  border-radius: 1em
  z-index: -9

nav, header, footer, #content
  display: block

nav
  a
    display: inline-block
    width: 100px
    color: $menu-anchor-colour
    text-decoration: none
    text-shadow: none
    &:hover
      color: $menu-anchor-colour
      text-decoration: none
      //text-shadow: 0 0 2px black
      .glow
        box-shadow: 0 5px 5px yellow

    &.current
      background-color: gray
      background-color: rgba(255,255,255,.2)

    .glow
      margin: auto
        top: -1.1em
      width: 1em
      border-radius: 1em
      +transition(box-shadow, 0.5s)

    .wall
      margin: auto
        top: -1.1em
      background: -webkit-gradient(linear, left top, left bottom, from($background-colour), to(gray))
      background: -moz-linear-gradient(top,  $background-colour,  gray)

    .effect 
      width: 100px
      margin-top: -1.2em
      color: transparent
      text-shadow: 0 0 3px rgba(0,0,0,0)
      +transition(-moz-transform, 1s)
      +transition(text-shadow, 1s)

      &:hover
        text-shadow: 0 23px 1px $content-background-colour
        /*-moz-transform: matrix(-1, 0, 0, 1, 0, 0)
        -moz-transform: scale(1.5)

header, footer
  position: fixed
  left: 0
  width: 100%
  text-align: center

header
  top: 0
  background: -webkit-gradient(linear, left top, left bottom, from($background-colour), to(gray))
  background: -moz-linear-gradient(top,  $background-colour,  gray)
  opacity: .7
  box-shadow: 0 2px 2px black

footer
  bottom: 0
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555))
  background: -moz-linear-gradient(top, #888, #555)
  font-size: 0.8em
  height: 2em
  line-height: 2em
  text-shadow: 0 0 3px black
  color: $background-colour

#content
  margin: 70px 0
  padding: 1em 0
  //background: $content-background-colour
  background: $content-background-colour $content-background-image top left no-repeat fixed
  border-radius: 1em
  box-shadow: 0 0 10px -2px black
  min-height: 300px
  .wrapper
    margin: 1em 2em
    line-height: 1.5em
    z-index: 10

ul.projects
  li
    margin-bottom: 2em
    ul.images
      display: inline-block
      width: 600px
      li
        width: 600px
        height: 450px
        margin: 5px
        background:
          color: transparent
          repeat: no-repeat
          position: top left
        opacity: 0.6
        +transition(opacity, 0.5s)
        &.bordered
          margin: 0
          border: 5px solid white
          border-radius: 1.25em
        nav
          opacity: 0
          +transition(opacity, 0.5s)
        &:hover
          opacity: 1
          nav
            opacity: 0.7

      nav
        display: inline-block
        float: right
        height: 30px
        margin:
          top: 410px
          right: 1em
        padding:
          top: 0.1em
          right: 0.5em
        border-radius: 1em
        background: black
        div
          display: inline-block
          height: 30px
          line-height: 30px
          font-size: 3em
          margin-left: 0.2em
          cursor: pointer
          &:hover
            color: yellow

    .description
      display: inline-block
      padding-left: 2em
      width: 250px
      height: 100%
      vertical-align: top
      text-align: justify
      h2
        margin-top: 0
        .date
          font-size: 12px
          font-weight: normal

.right
  float: right
  text-align: right

.nonintervening
  display: inline-block
  width: 200px
  margin-left: -200px

