:textile
  h1. nicht einfach nur ein Job

  Die Programmierung ist einer der Arbeitsbereiche, in dem es sicher viel Streit darum gibt, ob es nun ein reiner Bürojob ist, wie jeder andere auch, oder ob es zur Kreativ-Arbeit gehört. Meiner Meinung nach trifft eindeutig letzteres zu. Es ist die Arbeit, kreativ Probleme zu lösen.

  Meine Spezialität ist die _Softwareentwicklung_, wobei ich die meiste Erfahrung bisher in der _Web-Entwicklung_ sammeln konnte.

  *"Suchen Sie einen Webentwickler?":/kontakt*
  Sie haben ihn gefunden! Um ganz sicher zu gehen, verschaffen Sie sich doch ein besseres Bild unter dem Menüpunkt "Webentwicklung":/web-entwicklung.

  Meine Leidenschaft gehört der Programmierung und somit beschränke ich mich nicht nur auf das Web. Ich sammelte bereits einige Erfahrung in anderen Projekten, wobei die Programmiersprache nur das Werkzeug für mich war, mit dem tolle Software gemacht wird.

  *"Sie brauchen einen Softwareentwickler?":/kontakt*
  Ich würde mich freuen, von Ihnen zu hören! Wenn Sie vorher allerdings noch mehr Details über meine Fähigkeiten in Erfahrung bringen wollen, schauen Sie sich den Menüpunkt "Softwarentwicklung":/software-entwicklung an.

